<div class="row-fluid">
  <div class="span9">
    <div class="page-header">
      <h1>Edit <%=t '.title', :default => controller_name.titleize %></h1>
    </div>
    <%= bootstrap_flash %>
    <%= render 'form' %>
  </div>
</div>
