<div class="row">
  <div class="col-md-9">
    <%= content_for :page_title do%>
      Edit <%=t '.title', :default => controller_name.titleize %>
    <% end %>
    <%= render 'form' %>
  </div>
</div>
