<div class="row-fluid">
  <div class="span9">
    <%= content_for :page_title do%>
      New <%=t '.title', :default => controller_name.titleize %>
    <% end %>
    <%= bootstrap_flash %>
    <%= render 'form' %>
  </div>
</div>
